* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

html {
  font: 24px/1.25em "Karla", sans-serif; }

body {
  color: white;
  border-color: blue;
  background: blue;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: bgswap 100s infinite linear; }

.wrap {
  padding: 9% 15%;
  max-width: 1100px; }

a, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted white; }
  a:hover, a:visited:hover {
    border-bottom-style: solid;
    color: blue;
    background: white; }

@-webkit-keyframes colorswap {
  0% {
    border-color: #0091ad;
    color: #0091ad; }

  33% {
    border-color: blue;
    color: blue; }

  66% {
    border-color: red;
    color: red; }

  100% {
    border-color: #0091ad;
    color: #0091ad; } }

@-webkit-keyframes bgswap {
  0% {
    background: blue; }

  33% {
    background: red; }

  66% {
    background: green; }

  100% {
    background: blue; } }

nav {
  -webkit-user-select: none;
  height: 0em;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0; }

.head {
  display: inline-block;
  position: fixed; }
  .head .inner {
    border-radius: 50%;
    font-weight: bold;
    color: white;
    margin: -40px;
    -webkit-transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    -moz-transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    text-align: center;
    font-size: 30vw;
    line-height: 70px;
    height: 70px;
    width: 70px;
    cursor: -webkit-grab;
    opacity: 0.3; }
    .head .inner:hover {
      opacity: 0.6; }

h1 {
  padding-bottom: 1em;
  font-weight: bold; }

h2 {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-bottom: 1rem; }

h3 {
  text-transform: uppercase;
  font-weight: bold; }

section {
  position: relative;
  margin-bottom: 5em; }

.info {
  margin-top: 2em; }

.metadata {
  margin-bottom: 1em; }

.people {
  margin-top: 2em; }

.people {
  -webkit-columns: 2; }

.people > li {
  position: relative; }
  .people > li::after {
    font-size: 0.7em;
    line-height: 1.2em;
    content: attr(data-about);
    display: block;
    padding-bottom: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

@media (max-width: 500px) {
  body {
    font-size: 20px;
    line-height: 1.2em; }

  .head .inner {
    height: 50px;
    width: 50px;
    line-height: 50px; }

  .wrap {
    padding: 9% 5%; } }
