* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

html {
  font: 24px/1.25em "Karla", sans-serif; }

body {
  color: white;
  border-color: blue;
  background: blue;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: bgswap 120s infinite linear;
  -moz-animation: bgswap 120s infinite linear;
  animation: bgswap 120s infinite linear; }

.wrap {
  padding: 9% 15% 40% 15%;
  margin: auto;
  max-width: 1050px; }

a, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted white; }
  a:hover, a:visited:hover {
    border-bottom-style: solid;
    color: blue;
    background: white; }

@-webkit-keyframes bgswap {
  0% {
    background: blue; }

  33% {
    background: red; }

  66% {
    background: green; }

  100% {
    background: blue; } }

@-moz-keyframes bgswap {
  0% {
    background: blue; }

  33% {
    background: red; }

  66% {
    background: green; }

  100% {
    background: blue; } }

@keyframes bgswap {
  0% {
    background: blue; }

  33% {
    background: red; }

  66% {
    background: green; }

  100% {
    background: blue; } }

nav {
  -webkit-user-select: none;
  height: 0em;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  transition: opacity 2s; }

.letters-ready nav {
  opacity: 1; }

.head {
  display: inline-block;
  position: fixed; }
  .head .inner {
    border-radius: 50%;
    font-weight: bold;
    color: white;
    margin: -10vw;
    -webkit-transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    -moz-transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    transition: all 0.3s cubic-bezier(0.335, 1.575, 0.515, 0.92);
    text-align: center;
    font-size: 30vw;
    line-height: 20vw;
    height: 20vw;
    width: 20vw;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    opacity: 0.3; }
    .head .inner:hover {
      opacity: 0.5; }

h1 {
  padding-bottom: 1em;
  font-weight: bold; }

h2 {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 1rem; }

h3 {
  text-transform: uppercase;
  font-weight: bold; }

section {
  position: relative;
  margin-bottom: 5em; }

.info {
  margin-top: 2em; }

.metadata {
  margin-bottom: 1em; }

.people {
  margin-top: 2em;
  display: inline-block;
  width: 49%; }

.people > li {
  position: relative; }
  .people > li::after {
    font-size: 0.7em;
    line-height: 1.2em;
    content: attr(data-about);
    display: block;
    padding-bottom: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.event {
  -webkit-animation: fadein 2s 1; }

@media (max-width: 500px) {
  body {
    font-size: 22px;
    line-height: 1.2em; }

  .head .inner {
    height: 50px;
    width: 50px;
    line-height: 50px; }

  .wrap {
    padding: 9% 5% 40% 5%; }

  .people {
    width: 100%; }

  .people + .people {
    margin-top: 0; } }
